.home-ul{
    display: flex;
    color: white;
    padding: 0;
    margin: 0;
    background-color: #0c2742;
    border-bottom: 1px solid #a20563;
    box-shadow: 0 2px 4px rgba(229, 220, 220, 0.1);
}
.home{
    padding: 10px 15px;
    cursor: pointer;
}

.contact{
    padding: 10px 15px;
    cursor: pointer;
}

.busDetails{
    padding: 10px 15px;
    cursor: pointer;
}
